NEXT_PUBLIC_TMDB_ACESS_TOKEN=
NEXT_PUBLIC_TMDB_API_KEY=
NEXT_PUBLIC_TMDB_SMALL_IMAGE_BASEURL=https://image.tmdb.org/t/p/w500
NEXT_PUBLIC_TMDB_MEDIUM_IMAGE_BASEURL=https://image.tmdb.org/t/p/w780
NEXT_PUBLIC_TMDB_LARGE_IMAGE_BASEURL=https://image.tmdb.org/t/p/w1280
NEXT_PUBLIC_TMDB_ORIGINAL_IMAGE_BASEURL=https://image.tmdb.org/t/p/original