@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* stylelint-disable at-rule-no-unknown */
@theme inline {
  --container-container: 1280px;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer utilities {
  .no-spinner::-webkit-outer-spin-button,
  .no-spinner::-webkit-inner-spin-button {
    appearance: none;
    -webkit-appearance: none;
    margin: 0;
  }
  .no-spinner {
    appearance: textfield;
    -moz-appearance: textfield;
  }
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

body {
  @apply text-neutral-800 text-sm md:text-base;
}

.pagination-nav {
  @apply w-[40px] h-[40px] bg-black text-white
  rounded-md flex items-center justify-center cursor-pointer
  hover:bg-black/80 disabled:opacity-30 disabled:cursor-default disabled:hover:bg-black;
}

.menu-item {
  @apply text-neutral-500 hover:text-neutral-700 transition-all
  ease-[ease-in-out] py-2 px-4 lg:px-0 inline-block w-full
  hover:bg-gray-100 md:hover:bg-transparent md:w-auto;
}

.menu-item.current {
  @apply font-bold text-neutral-800;
}

.search-tooltip {
  opacity: 0;
  visibility: hidden;
}

.search-tooltip.active {
  animation: fadeInSlide 0.3s ease-out forwards;
  visibility: visible;
}

.search-tooltip:before {
  @apply content-[''] border-y-[9px] border-x-[8px] border-t-transparent border-x-transparent border-b-black
  absolute bottom-[100%] left-4;
}

@keyframes fadeInSlide {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}